{% extends 'movtra/layout.html' %}

{% block content %}
<h1 class="center">{{ list.name }}  ({{ watched }}/{{ total }})</h1>

<div class="row card-panel">
<form action="{% url 'movtra:addToList' list.id %}" method="post">
      {% csrf_token %}
      <div class="col s6">
<input type="text" name="listTitle">
</div>
<div class="col s3">
<button type="submit" vaule="Add Title" class="waves-effect waves-light btn">Add Title</button>
</div>
</form>
</div>

<form action="{% url 'movtra:importList' list.id %}" method="post">
            {% csrf_token %}
            <input type="submit" name="import" value="import">
          </form>
<!--
<div class="row">	
		{% for m in movies %}
    <div class="col s2">
      <div class="card {% if m.movie.status_watched %} green {% else %} red {% endif %}">
        <div class="card-image">
          <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{ m.movie.poster }}" height="40%">
          <span class="card-title">{{m.movie.year|make_list|slice:':25'|join:''}}</span>
        </div>
        <div class="card-content">
          <p>{{m.movie.title}}</p>
        </div>
        <div class="card-action">
          <a href="{% url 'movtra:detail' m.movie.tmdbID %}">MOVIE INFO</a>
        </div>
      </div>
    </div>
    {% endfor %}
-->
<table>
  <tr>
    <th>Title</th>
    <th>Seen?</th>
  </tr>
{% for m in movies %}
<tr>
  <td>{{forloop.counter}}: <a href="{% url 'movtra:detail' m.movie.tmdbID %}">{{m.movie.title}} ({{m.movie.year|make_list|slice:':25'|join:''}})</p></a></td>
  <td><div class="switch" >
    <form action="{% url 'movtra:seen' %}" method="post" id="seenForm">{% csrf_token %}
      <p>
      <input type="hidden" name="seen" value="{{m.movie.tmdbID}}">
    {% if m.movie.status_watched == True %} 
    <label>
      <input class="filled-in checkbox-orange" type="checkbox" value="{{m.movie.tmdbID}}" id="seen" onclick="this.form.submit();" checked><span class="lever"></span></label>
      <input type="hidden" id="seenBool" value="False">
    {% else %}
    <label>
      <input  type="checkbox" value="{{m.movie.tmdbID}}" id="seen" onclick="this.form.submit();"><span class="lever"></span></label>
      <input type="hidden" id="seenBool" value="True">
    {% endif %}
  </p>
    </form>
  </div>
  <div>
    <form action="{% url 'movtra:removeMovieFromList' m.id %}" method="post">{% csrf_token %}
    <input type="submit" name="remove" value="Remove">
    <input type="hidden" name="removeID" vale="{{m.id}}"></form>
</div>
</td>
</tr>
{% endfor %}

</table>

<script>
  // Submit post on submit
$('#seenForm').click( function(event){
    //event.preventDefault();
    console.log("form submitted!")  // sanity check
    var flag = $('#seenBool').val()
    var res = false;
    if(flag === 'True'){
      res = true;
    }
    //console.log($('#seenBool').val())
    create_post(res);
});
/*
$('#check').on('change', function() {
    var val = this.checked ? this.value : '';
    $('#show').html(val);
});
*/
// AJAX for posting
function create_post(val) {
    console.log("create post is working!") // sanity check
    console.log(val)
};
</script>
{% endblock %}