{% extends 'movtra/layout.html' %}

{% block content %}
<h1>Lists</h1>
<div class="row card-panel">
<form action="{% url 'movtra:newList' %}" method="post">
      {% csrf_token %}
      <div class="col s6">
<input type="text" name="listTitle">
</div>
<div class="col s3">
<button type="submit" vaule="Create list" class="waves-effect waves-light btn">Create list</button>
</div>
</form>
</div>
<!--<a class="waves-effect waves-light btn" href="newList">New List</a>-->
<!--<ul>
{% for l in list %}
  <li><a href="{% url 'movtra:listDetail' l.id %}">{{l.name}}</li>
{% endfor %}
</ul>-->
<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
</tbody>
{% for l in list %}
  <tr>
    <td><a href="{% url 'movtra:listDetail' l.id %}">{{l.name}}</a></td>
    <td><form action="{% url 'movtra:removeList' %}" method="post">
            {% csrf_token %}
            <input type="submit" name="remove" value="remove">
            <input type="hidden" name="listid" value="{{ l.id }}">

          </form></td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}