{% extends 'movtra/layout.html' %}

{% block content %}
<h1 class="text-center">Editing {{ list.name }}  ({{ watched }}/{{ total }})</h1>

<div class="row ml-0 mr-0">
    <div class="col-sm-4">
    <form action="{% url 'movtra:addToList' list.id %}" method="post">
      {% csrf_token %}
      <div class="input-group mb-3 pl-4">
      <input type="text" class="form-control" name="listTitle">
      <div class="input-group-append">
      <button type="submit" vaule="Add Title" class="input-group-text">Add Title</button>
    </div>
    </div>
    </form>
  </div>
  <form action="{% url 'movtra:importList' list.id %}" method="post" class="pl-4">
    {% csrf_token %}
    <input type="submit" name="import" value="import" class="btn btn-secondary">
  </form>
  <form action="{% url 'movtra:listDetail' list.id %}" method="post" class="pl-2">
      {% csrf_token %}
      <input type="submit" name="edit" value="edit" class="btn btn-secondary">
  </form>
</div>

<div class="conatiner">
  <div class="list-group list-group-flush">
    {% for k, v in movies.items %}
    <div class="list-group-item d-flex flex-row bd-highlight">
      <div id="movie{{v.id}}">
        {{forloop.counter}}: 
        [<a class="removeBTN" id="movie{{v.id}}" href="#" data-movid="{{v.id}}" data-listid="{{list.id}}">X</a>]
        <a href="{% url 'movtra:detail' v.id %}">{{v.title}} ({{ v.year }})</a>
        {% if v.id in logentry %}
          watched
        {% endif %}
      </div>
    </div>
  {% endfor %}
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script type="text/javascript">
  $('.removeBTN').on('click', function(e) {
    e.preventDefault();
    e.stopPropagation();
  var movid, listid;
  movid = $(this).attr("data-movid");
  listid = $(this).attr("data-listid");
  $.ajax(
  {
      type:"GET",
      url: "/removeMovieFromListGET",
      data:{
               movie_id: movid,
               list_id: listid
      },
      success: function( data ) 
      {
          $( '#movie'+ movid ).remove();
      }
   })
});
</script>

<script>
  // Submit post on submit
$('#seenForm').click( function(event){
    //event.preventDefault();
    console.log("form submitted!")  // sanity check
    var flag = $('#seenBool').val()
    var res = false;
    if(flag === 'True'){
      res = true;
    }
    //console.log($('#seenBool').val())
    create_post(res);
});
/*
$('#check').on('change', function() {
    var val = this.checked ? this.value : '';
    $('#show').html(val);
});
*/
// AJAX for posting
function create_post(val) {
    console.log("create post is working!") // sanity check
    console.log(val)
};
</script>
{% endblock %}