{% extends 'movtra/layout.html' %}

{% block content %}
{% if all %}
	{% if latest_movies_list %}
	<div class="row">	
		{% for movie in latest_movies_list %}
    <div class="col-sm-2">
      <div class="card">
       
          <a href="{% url 'movtra:detail' movie.id %}">
              <img src="https://image.tmdb.org/t/p/w300{{ movie.poster_path }}"></a>
        <div class="section darker" id="box">
            <span>{{movie.year|make_list|slice:':25'|join:''}}</span>
          <p>{{ movie.date }}{{movie.title}}</p>
        </div>
      </div>
    </div>
  
		{% endfor %}
		</div>
	{% else %}
		<p>No movies are available.</p>
  {% endif %}

{% else %}

  {% if latest_movies_list %}
    {% for movie in latest_movies_list %}
    ------------------------------------------------------------------------
    <div class="row">	
      
       <p>{{ movie.date | date:"d/m/Y" }}</p>
          <a href="{% url 'movtra:detail' movie.id %}">
          <p>{{movie.title}}</p></a>
          {% if movie.rating %}
          <p>{{movie.rating}}
          <i class="fa fa-star"></i></p>
          {% endif %}
          {% if movie.review %}
          <p> Review</p>
          {% endif %}
       
     
      </div>
  
		{% endfor %}
    
	{% else %}
		<p>No movies are available.</p>
  {% endif %}
{% endif %}
  <style>
  #box{
    height: 100px;
  }
  img{
    width: 250px;
  }

  </style>
{% endblock %}