{% extends 'movtra/layout.html' %}

{% block content %}
<h1>Lists</h1>
<div class="row">
  <form action="{% url 'movtra:newList' %}" method="post">
    {% csrf_token %}
    <div class="col s6">
      <input type="text" name="listTitle"><button type="submit" vaule="Create list" class="waves-effect waves-light btn">Create list</button>
    </div>
  </form>
  <form action="/lists/" method="post">
    {% csrf_token %}
    <input type="submit" name="edit" value="edit">
</form>
</div>
<div class="row">
  <ul style="list-style-type:none">
    {% for l in list %}
    <div id="list{{l.id}}">
    ---------------------------------------
    <li data-label="Name" id="list{{l.id}}">[<a class="removeBTN" id="movie{{l.id}}" href="#" data-listid="{{l.id}}">X</a>] <a href="{% url 'movtra:listDetail' l.id %}">{{l.name}}</a></li>
    </div>
    {% endfor %}
  </ul>
</div>
<style>
  td {
    height: 20px;
  }
  form {
    background: #f8f8f8;
    border: 0px;
    margin: .5rem;
    padding: 0.75rem 0.5rem 1.125rem;
    height: 30px;
  }

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">
  $('.removeBTN').on('click', function(e) {
    e.preventDefault();
    e.stopPropagation();
  var movid, listid;
  listid = $(this).attr("data-listid");
  $.ajax(
  {
      type:"GET",
      url: "/removeListsGET",
      data:{
               list_id: listid
      },
      success: function( data ) 
      {
          $( '#list'+ listid ).remove();
      }
   })
});
</script>
{% endblock %}