{% extends 'movtra/layout.html' %}

{% block content %}
{% if on_this_day %}
    <h2 class="text-center">On this day {{ today}}</h2>
    <div class="row ml-0 mr-0 mt-2 mb-2">
        {% for movie in on_this_day %}
            <div class="col-md-2 d-flex align-items-stretch">
                <div class="card">            
                    <a href="{% url 'movtra:detail' movie.id %}">
                        <img src="https://image.tmdb.org/t/p/w154{{ movie.poster_path }}">
                    </a>
                    <div class="section darker" id="box">
                        <h5 class="card-title">{{movie.date}}</h5>
                        <p class="card-text">{{movie.title}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
<div class="row ml-0 mr-0">
    <div class="btn-group dropright">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for year in years %}
                <a class="dropdown-item" href="#">{{year}}</a>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row ml-0 mr-0">
    <h3>Most watched directors of the month</h3>
</div>
<div class="row ml-4 mr-0">
    {% for person in mwd %}
    <div class="card mr-3">
        <a href="{% url 'movtra:personDetail' person.person_id %}">
        <img src="https://image.tmdb.org/t/p/w92{{person.profile_path}}">
        </a>      
    </div>
    {% endfor %}
</div>
<div class="row ml-4 mr-0">
    <h3>Most watched actors of the month</h3>
</div>
<div class="row ml-4 mr-0">
    {% for person in mwa %}
    <div class="card mr-3">
        <a href="{% url 'movtra:personDetail' person.person_id %}">
        <img src="https://image.tmdb.org/t/p/w92{{person.profile_path}}">
        </a>      
    </div>
    {% endfor %}
</div>

<div class="row ml-0 mr-0">
    <div class="col-md-4">
        <h1>{{month}} genres</h1>
        <canvas id="doughnutChart"></canvas>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<script>
//pie

var ctxP = document.getElementById("doughnutChart").getContext('2d');

var mydoughnutChart = new Chart(ctxP, {
type: 'doughnut',
data: {
labels: [
{% for k, v in genre.items %}
    "{{k}}",
{% endfor %} ],
//    "Red", "Green", "Yellow", "Grey", "Dark Grey"],
datasets: [{
data: [
{% for k, v in genre.items %}
    {{v}},
{% endfor %} ],
//   300, 50, 100, 40, 120],
backgroundColor: [
{% for k, v in g_col.items %}
    "{{v}}",
{% endfor %} ],
    //"#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
//hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
}]
},
options: {
responsive: true
}
});
</script>
{% endblock %}