{% extends 'movtra/layout.html' %}

{% block content %}
{% if on_this_day %}
    <h2 class="text-center">On this day {{ today}}</h2>
    <div class="row ml-0 mr-0 mt-2 mb-2">
        {% for movie in on_this_day %}
            <div class="col-md-2 d-flex align-items-stretch">
                <div class="card">            
                    <a href="{% url 'movtra:detail' movie.id %}">
                        <img src="https://image.tmdb.org/t/p/w154{{ movie.poster_path }}">
                    </a>
                    <div class="section darker" id="box">
                        <h5 class="card-title">{{movie.date}}</h5>
                        <p class="card-text">{{movie.title}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
<div class="row ml-0 mr-0">
    <div class="btn-group dropright">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for year in years %}
                <a class="dropdown-item" href="#">{{year}}</a>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row ml-0 mr-0">
    <h3>Most watched directors of the month</h3>
</div>
<div class="row ml-4 mr-0">
    {% for person in mwd %}
    <div class="card mr-3">
        <a href="{% url 'movtra:personDetail' person.person_id %}">
        <img src="https://image.tmdb.org/t/p/w92{{person.profile_path}}">
        </a>      
    </div>
    {% endfor %}
</div>
<div class="row ml-4 mr-0">
    <h3>Most watched actors of the month</h3>
</div>
<div class="row ml-4 mr-0">
    {% for person in mwa %}
    <div class="card mr-3">
        <a href="{% url 'movtra:personDetail' person.person_id %}">
        <img src="https://image.tmdb.org/t/p/w92{{person.profile_path}}">
        </a>      
    </div>
    {% endfor %}
</div>

<div class="row ml-0 mr-0">
    <div class="col-md-4">
        <h1>{{month}} genres</h1>
        <canvas id="doughnutChart"></canvas>
    </div>
</div>

<div id="datamap" style="position: relative; width: 80%; max-height: 450px;"></div>

<!-- Pie Chart -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
//pie

var ctxP = document.getElementById("doughnutChart").getContext('2d');

var mydoughnutChart = new Chart(ctxP, {
type: 'doughnut',
data: {
labels: [
{% for k, v in genre.items %}
    "{{k}}",
{% endfor %} ],
//    "Red", "Green", "Yellow", "Grey", "Dark Grey"],
datasets: [{
data: [
{% for k, v in genre.items %}
    {{v}},
{% endfor %} ],
//   300, 50, 100, 40, 120],
backgroundColor: [
{% for k, v in g_col.items %}
    "{{v}}",
{% endfor %} ],
    //"#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
//hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
}]
},
options: {
responsive: true
}
});
</script>

<!-- DataMaps -->
<style>
    #datamap { border:1px dotted blue; width: 700px; height: 475px; position: relative; }
</style>

<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/datamaps/0.5.8/datamaps.all.js"></script>

<script>
  // example data from server
  var series = [
      {% for k, v in pdc.items %}
      ["{{k}}",{{v}}],
      {% endfor %}
      ];


  // Datamaps expect data in format:
  // { "USA": { "fillColor": "#42a844", numberOfWhatever: 75},
  //   "FRA": { "fillColor": "#8dc386", numberOfWhatever: 43 } }
  var dataset = {};
 
  // We need to colorize every country based on "numberOfWhatever"
  // colors should be uniq for every value.
  // For this purpose we create palette(using min/max series-value)
  var onlyValues = series.map(function(obj){ return obj[1]; });
  var minValue = Math.min.apply(null, onlyValues),
          maxValue = Math.max.apply(null, onlyValues);

  // create color palette function
  // color can be whatever you wish
  var paletteScale = d3.scale.linear()
          .domain([minValue,maxValue])
          .range(["#a2f28e","#097002"]); // blue color

  // fill dataset in appropriate format
  series.forEach(function(item){ //
      // item example value ["USA", 70]
      var iso = item[0],
              value = item[1];
      dataset[iso] = { numberOfThings: value, fillColor: paletteScale(value) };
  });

  // render map
  new Datamap({
      scope: 'world',
      element: document.getElementById('datamap'),
      projection: 'mercator', // big world map
      // countries don't listed in dataset will be painted with this color
      fills: { defaultFill: '#303c44' },
      data: dataset,
      geographyConfig: {
          borderColor: '#DEDEDE',
          highlightBorderWidth: 2,
          // don't change color on mouse hover
          highlightFillColor: function(geo) {
              return geo['fillColor'] || '#fc8302';
          },
          // only change border
          highlightBorderColor: '#B7B7B7',
          // show desired information in tooltip
          popupTemplate: function(geo, data) {
              // don't show tooltip if country don't present in dataset
              if (!data) { return ; }
              // tooltip content
              return ['<div class="hoverinfo">',
                  '<strong>', geo.properties.name, '</strong>: ',
                   data.numberOfThings, ' film',
                  '</div>'].join('');
          }
      }
  });
</script>
{% endblock %}